<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
   <% include header %>
   <script>
       var error, codigo;
    </script>

   <!-- Contenedor  -->
    
     <% if(mesa == 'error') { %>
        <!-- Si la respuesta del request arroja una variable con valor de error, se crea el codigo 1, quiere decir que no se puedo conectar con el endpoint por lo que no se puede obtener información. -->
        <script type="text/javascript">error = true; codigo = 1;</script>


     <% }else if(mesa.length == 0) { %>
        <!-- Si la variable mesa tiene longitud 0, quiere decir que viene vacía, por lo que el usuario no tiene mesas asignadas -->
        <script type="text/javascript">error = true; codigo = 2;</script>
     <% }else { %>

   <div class="center bordeMesa"> 

     <% for(var i=0; i < mesa.length; i++) { %>
     

        <% if(mesa[i].estatus == 1) { %>
        <!-- Caja de mesa (son los que se van a duplicar) -->
        <div id="<%= mesa[i].idmesa %>" class="espacioCaja" >
       
        
          <!-- División de caja registradora -->
            <div class="divCajaRegistradora" idPagoMesa="<%= mesa[i].idmesa %>">
              <img class="imgCajaRegistradora" src="/images/cajaR.svg" > 
            </div>

          <!-- División de campo pesa -->
          <div class="divMesa" idMesa="<%= mesa[i].idmesa %>">
             <div class="center">
                 <img class="imgMesa" src="/images/mesas.svg" >
             </div>
             <!-- Texto de la mesa -->
              <p id="txt_mesa" class="txt_numMesa"><%= mesa[i].name_mesa  %></p>
          </div>
        </div>
        <!-- Fin de caja mesa (que se van a duplicar) -->

        <% }else { %> 

          <!-- Caja de mesa (son los que se van a duplicar) -->
          <div id="<%= mesa[i].idmesa %>" class="espacioCaja" >
       
        
            <!-- División de caja registradora -->
            <div style="visibility: hidden" class="divCajaRegistradora"  >
                <img class="imgCajaRegistradora" src="/images/cajaR.svg" > 
            </div>
        
            <!-- División de campo pesa -->
            <div style="background-color: #da532c" class="divMesa" idMesa="<%= mesa[i].idmesa %>">
              <div class="center">
                <img class="imgMesa" src="/images/mesas.svg" >
              </div>
              <!-- Texto de la mesa -->
              <p id="txt_mesa" class="txt_numMesa"><%= mesa[i].name_mesa  %></p>
            </div>
          </div>
          <!-- Fin de caja mesa (que se van a duplicar) -->


        <% } %>
     
      <% } } %>
     
     
   </div>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/mensajeAlerta.js"></script>
    <script src="javascripts/mesas.js"></script>
  </body>
</html>