/* Se importa librería */
@import url('reset.css');
@import url('reticula.css');

body {
    color : #FFF;
    background-color: #000;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Pantalla de pagar */
.tablaPagar {
  color:#FFF;
  font-size:18px;
  margin-top: 20px;
}

.txtPagar {
  font-size: 38px;
  color: #53d769;
  margin-left: 10px;
}

.inTxtDiv {
  background-color: #000;
  border: 1px solid #FFF;
  font-size: 36px;
  text-align: center;
  width: 80px;
  height: 50px;
  color: #FFF;
  margin-left: 10px;
}
.inTxtMontos {
  background-color: #000;
  border: 1px solid #FFF;
  font-size: 36px;
  text-align: center;
  width: 180px;
  height: 50px;
  color: #FFF;
  margin-left: 10px;
  margin-bottom: 20px;
}

.contCheck {
	list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
	display: flex;
}

.divCheck {
	color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.divCheck input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.divCheck label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.8em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.divCheck:hover label{
	color: #FFFFFF;
}

.divCheck .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.divCheck:hover .check {
  border: 5px solid #FFFFFF;
}

.divCheck .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}
/*    RADIO BUTTON Modificados */

/* Estilo de tabla para comanda en menu */
table {
  color : #FFF;
  border-collapse: collapse;
  width: 100%;
}
/* Cabeceras de tabla en comanda */
th {
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  margin-left: 5px;
}
/* Estilo para columna de cantidad */
.tCant {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* Estilo de tabla */
td {
    padding: 8px;
    text-align: left;
}

table > tbody > tr > td {
  vertical-align: middle;
}

/* Div contenedor de mensajes de error */
.msjAlerta {
  background-color: #FDE900;
  color : #000;
  font-size: 30px;
  padding: 5px;
}

/* Se quitan los spinner de input tipo number */
input[type=number] {
    -moz-appearance: textfield;
    ::-webkit-inner-spin-button { -webkit-appearance: none;}
    ::-webkit-outer-spin-button { -webkit-appearance: none;}
}
